@charset "UTF-8";
/*ロード画面*/
body {
  color: #333;
}
#progressbar{
  height: 26px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  background: rgba(159, 159, 159, 0.5);
  border-radius: 10px;
  margin: -20px 0 0 -100px;
  padding: 2px;
}
#loading{
  transition: all 500ms ease;
  height: 20px;
  width: calc(100% - 10px);
  border-radius: 8px;
  background: #b0e4ee;
  position: absolute;
  margin: 3px;
  display: inline-block;
  animation: load 2s ease infinite;
  display:none;
}
#load{
  font-family: 'Niko moji';
  font-weight: bold;
  text-align: center;
  margin-top: -30px;
}

@keyframes load{
  0%{
    width: 2%;
  }
  10%{
    width: 10%;
  }
}
/*ヘッダー画面*/

h1{
  margin-bottom: auto;
  text-align: center;
}

ul{
    width: 100%;
    height: 70px;
    background-color: #f0a6a6 ;
    padding-top: 5px;
    display: flex;
    box-sizing: border-box;
}

li{
   list-style: none;
   display: block;
   text-align: center;
   padding: 5px;
   margin: 20px;
}

p{
  font-family: 'Zen Maru Gothic'
}
