@charset "utf-8";
.menu a{
    font-size:20px;
    text-decoration: none;
    font-family: 'Kiwi Maru', serif;
    color:#ffffff;
    font-weight:bold;
}

/*自己紹介*/
.jikosyokai-txt{
    text-align: center;
}
.jikosyokai-txt2{
    text-align: center;
}
.jikosyokai-txt3{
    text-align: center;
}

/*タイトル*/
.title{
    margin: auto;
    text-align: center;
}
.title p{
    margin:auto;
    text-align: center;
}

/*サービス*/
.savice1{
    border: solid 2px #FFF;
    border-radius: 20px;
    width: 328px;
    padding: 32px 32px 32px;
    text-align: center;
    margin:auto;
    background: #ffd2d2;
}
.savice1 p{
    padding-top: 10px;
    font-size: 15px;
    font-family: 'Zen maru Gothic';
    line-height: 1.6;
    padding-top: 40px;
}
h2{
    font-family: 'kiwi maru';
}

/*サービス*/
.Works1{
    border: solid 2px #FFF;
    border-radius: 20px;
    width: 328px;
    padding: 32px 32px 32px;
    text-align: center;
    margin:auto;
    background: #ffd2d2;
}
.Works1 p{
    padding-top: 10px;
    font-size: 15px;
    font-family: 'Zen maru Gothic';
    line-height: 1.6;
    padding-top: 40px;
}