@charset "UTF-8";
/*ロード画面*/
span.loading22 {
  position: fixed;
  top: 0%;                 /* 表示位置縦(初期値) */
  left: 0%;                /* 表示位置横(初期値) */
  width: 50px;              /* エリア範囲幅 */
  height: 50px;             /* エリア範囲高 */
  text-align: center;       /* エリア内中央 */
  z-index: 999;            /* 重なり一番上 */
  background-color: #db7f7f;
  display: inline-block;
  width: 200px;
  height: 20px;
  border: 1px solid #e2f8fd;
  overflow: hidden;
  border-radius: 5px;
  background-repeat: repeat-x;
  background-size: 40px 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#e2f8fd), color-stop(0.3, #e2f8fd), color-stop(0.31, transparent), to(transparent) ),
  -webkit-gradient(linear, left bottom, right top, from(transparent), color-stop(0.69, transparent), color-stop(0.7, #e2f8fd), to(#e2f8fd) );
  background-image: -webkit-linear-gradient(20deg,#e2f8fd 12px,transparent 0),-webkit-linear-gradient(200deg,#e2f8fd 12px,transparent 0);
  background-image: linear-gradient(70deg,#e2f8fd 12px,transparent 0),linear-gradient(250deg,#e2f8fd 12px,transparent 0);
  vertical-align: middle;
  -webkit-animation: animation22 2s linear infinite;
  animation: animation22 2s linear infinite;
}

  @-webkit-keyframes animation22 {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 100%, 100%;
  }
}
@keyframes animation22 {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 100%, 100%;
  }
}

/*ヘッダー画面*/

h1{
  margin-bottom: auto;
  text-align: center;
}

ul{
    width: 100%;
    height: 70px;
    background-color: #f0a6a6 ;
    padding-top: 5px;
    display: flex;
    box-sizing: border-box;
}

li{
   list-style: none;
   display: block;
   text-align: center;
   padding: 5px;
   margin: 20px;
}

p{
  font-family: 'Zen Maru Gothic'
}
