@charset "UTF-8";
/*ロード画面*/

.loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 555;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader .txt {
    font-size: 45px;
    font-weight: bold;
    font-family:'Nico moji';
  color: rgb(181, 209, 235);
  }
/*ヘッダー画面*/

h1{
    text-align: center;
    padding : auto;
    font-family:'Nico moji';
    font-size:30px;
    color: #f0a6a6
}

ul{
    width: 100%;
    height: 70px;
    text-align:center;
    background-color: #f0a6a6 ;
    padding-top: 5px;
    box-sizing: border-box;
    display: inline-block;
    padding-left:0
}

li{
  list-style: none;
}
