@charset "UTF-8";
/*ロード画面*/
.loader{  
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 555;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader .txt {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Nico moji';
  color: #a7c0f7;
  z-index: 556;
  margin:auto;
}

.loading22 {
  position: fixed;
  display: inline-block;
  width: 200px;
  height: 20px;
  margin-top: 80px;
  border: 1px solid #e2f8fd;
  overflow: hidden;
  border-radius: 5px;
  background-repeat: repeat-x;
  background-size: 40px 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#e2f8fd), color-stop(0.3, #e2f8fd), color-stop(0.31, transparent), to(transparent) ),
  -webkit-gradient(linear, left bottom, right top, from(transparent), color-stop(0.69, transparent), color-stop(0.7, #e2f8fd), to(#e2f8fd) );
  background-image: -webkit-linear-gradient(20deg,#e2f8fd 12px,transparent 0),-webkit-linear-gradient(200deg,#e2f8fd 12px,transparent 0);
  background-image: linear-gradient(70deg,#e2f8fd 12px,transparent 0),linear-gradient(250deg,#e2f8fd 12px,transparent 0);
  vertical-align: middle;
  -webkit-animation: animation22 2s linear infinite;
  animation: animation22 2s linear infinite;
}

  @-webkit-keyframes animation22 {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 100%, 100%;
  }
}
@keyframes animation22 {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 100%, 100%;
  }
}

/*ヘッダー画面*/

h1{
  margin: auto;
  text-align: center;
}

.menu{
  position: relative;
  overflow: hidden;
  background-color: #ffd2d2;
}
.menu ul {
	float: left;
	left: 50%;
	position: relative;
}
.menu ul li {
	float: left;
	left: -50%;
	position: relative;
  list-style: none;
}
.menu li{
  display: block;
  padding: 1rem;
}

p{
  font-family: 'Zen Maru Gothic'
}

h6 {
  background-color:#ffd2d2;
	clear: both;
  text-align:center;
  padding:5px;
  font-family:'Zen Maru Gothic';
}

